{% assign person = include.person %}

{% comment %}
统一获取跳转链接，支持 webpage 或 url 字段
{% endcomment %}
{% assign person_link = person.webpage | default: person.url %}

{% if person_link %}
    {% capture name %}
        <a href="{{ person_link | relative_url | escape }}" style="text-decoration: none; color: inherit;"> {{ person.display_name }} </a>
    {% endcapture %}
{% else %}
    {% assign name = person.display_name %}
{% endif %}

{% if include.image %}
    <div class="person person-with-image row align-items-center">
        <div class="col-auto">
            {% if person_link %}
                <a href="{{ person_link | relative_url | escape }}">
                    {% include person-image.html person=person %}
                </a>
            {% else %}
                {% include person-image.html person=person %}
            {% endif %}
        </div>
        <div class="col pl-0">
            <h6 class="person-name"> {{ name }} </h6>
            {% if person.bio %}
                <div class="bio">{{person.bio}}</div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="person person-without-image">
        {{ name }}
        {% if person.bio %}
            <span class="bio">{{person.bio}}</span>
        {% endif %}
    </div>
{% endif %}
